<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page home</title>
</head>
<body>
<div>
<h1>Page Home</h1>
</div>
<!--게시판 이름-->
<table>
    <thead>
    <tr>
        <th scope="col">Board Name</th>
        <th scope="col">Board Information</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="boards: ${boards}">
        <th scope="col">
        <a th:href="@{/boards/{boardsId}(id=${boards.id})}" th:text="${boards.name}"></a>
        </th>
        <th scope="col" th:text="${boards.information}"></th>
    </tr>
    </tbody>
</table>

</body>
</html>